/* ! HIDES VUE INSPECTOR */
#vue-inspector-container,
#__vue-devtools-container__ {
  display: none !important;
}


/* Fixes scrollbar */
:host, :root {
  margin: 0 !important
}

/* More emphasized selection background for light theme */
::selection, .text-selected {
  background-color: color-mix(in srgb, var(--tblr-primary) 20%, transparent);
}

/* Even more emphasized selection background for light theme */
:is(:host, :root):is([data-bs-theme=dark]) ::selection {
  background-color: color-mix(in srgb, var(--tblr-primary) 50%, transparent);
}

/* Increase specificity, to make damn sure it is hidden */
[hidden][hidden][hidden][hidden] {
  display: none !important;
}

dialog {
  border: none;
}



/* # MESSENGER */

/* HACK */


/* MESSENGER (end) */


/* # NAVBAR */
.navbar {
  --tblr-navbar-active-color: var(--tblr-primary);
  --tblr-navbar-active-bg: transparent;
}

/* Hamburger icon */
.navbar-toggler {
  color: var(--tblr-body-color);
}

.navbar-nav {
  --tblr-nav-link-color: var(--tblr-body-color);
}

/* Active link is highlighted */
.nav-link.active {
  background-color: var(--tblr-nav-link-hover-bg);
}

/* Increase icon gap */
.nav-link-icon {
  margin-right: 0.875rem;
}

/* Disable the left border */
.nav-item.active:after {
  display: none;
}

.navbar.navbar-vertical .dropdown-menu {
  --tblr-dropdown-link-hover-color: var(--tblr-navbar-active-color);
  --tblr-dropdown-link-hover-bg: transparent;
}

.navbar.navbar-vertical .dropdown-item:is(:focus, :hover, .active, :active) {
  color: var(--tblr-dropdown-link-hover-color) !important;
}

/* Limits mobile navbar to full screen height and enables overflow scroll. Without this, sticky navbar would not be possible to navigate if it overflowed */
/* NOTE: The 2rem is the logo height, which is the hard-coded height of .navbar-brand-image */
@media (max-width: 991.98px) {
  .navbar.sticky-top .navbar-collapse {
    max-height: calc(100dvh - var(--tblr-navbar-padding-y) - var(--tblr-navbar-brand-padding-y) - 2rem - var(--tblr-navbar-brand-padding-y) - var(--tblr-navbar-padding-y));
    overflow: auto;
  }
}

/* Rounded bottom corners of expanded mobile navbar */
@media (max-width: 991.98px) {
  .navbar-vertical:has(.navbar-collapse.show) {
    border-bottom-left-radius: var(--tblr-border-radius-lg);
    border-bottom-right-radius: var(--tblr-border-radius-lg);
  }
}

/* ? maybe - centers the center logo in the center column */
@media (max-width: 991.98px) {
  .navbar-vertical.navbar-expand-lg > [class^=container] {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto 1fr;
  }

  .navbar-collapse {
    grid-column: 1/-1;
  }
}

/* # NAVBAR (end) */

.dropdown-menu {
  --tblr-dropdown-padding-x: 0.25rem;
  --tblr-dropdown-padding-y: 0.25rem;
}

/* Rounded item corners */
.dropdown-item {
  --tblr-dropdown-item-border-radius: var(--tblr-border-radius);
}

/* Open dropdown arrow rotated */
.dropdown-toggle.show:after {
  rotate: 180deg;
  /* Will rotate in optical center */
  transform-origin: calc(50% - 0.05em) 75%;
}

/* The <form> will be 'invisible' (but its children will not) and won't interfere with the layout */
.card form {
  display: contents;
}

/* Limits dropdown height */
.dropdown-menu {
  max-height: min(300px, 80vh);
  overflow: auto;
}

/* Increase backdrop intensity */
.modal-backdrop.show {
  --tblr-backdrop-bg: black;
  opacity: 0.5;
}

/* ? MAYBE: DIALOG AS BOTTOM DRAWER ON MOBILE ??? */
@media (max-width: 575px) {
  .modal-dialog.drawer {
    align-items: end;
    --tblr-modal-margin: 0.0rem;
  }

  .drawer .modal-content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* Disable font size increase on mobile */
@media (max-width: 575.98px) {
  .form-control, .form-select {
    font-size: inherit;
  }
}

/* FIX: floating label vertical alignment */
.form-floating > label {
  align-content: center;
}

.avatar {
  object-fit: cover;
}

/* FIX: Buttons being displayed as block */
.table-mobile .btn { display: inline-flex; }
@media (max-width: 575.98px) { .table-mobile-sm .btn { display: inline-flex; } }
@media (max-width: 767.98px) { .table-mobile-md .btn { display: inline-flex; } }
@media (max-width: 991.98px) { .table-mobile-lg .btn { display: inline-flex; } }
@media (max-width: 1199.98px) { .table-mobile-xl .btn { display: inline-flex; } }
@media (max-width: 1399.98px) { .table-mobile-xxl .btn { display: inline-flex; } } 

/* Yellow background behind logo in vertical navbar - desktop only, light mode only */
@media (min-width: 992px) {
  :is(:host, :root):not([data-bs-theme=dark]) .navbar-vertical .navbar-brand {
    background-color: #ffed00;
  }
}


/* TESTING - TenantCloud branding */
:root {
  /* --tblr-primary: #41a541; */
}

.card:where(:not(.card .card)) {
  border-width: 0px;
}


@media (min-width: 992px) {
  :is(:host, :root):not([data-bs-theme=dark]) .card {
    --tblr-card-box-shadow: 0 8px 16px rgba(98, 125, 152, .12);
  }

  .navbar {
    box-shadow: 0 2px 4px #627d9833, 0 1px 2px #102a4333;
  }

  .navbar-expand-lg.navbar-vertical {
    box-shadow: 0 4px 8px #627d9829, 0 2px 4px #102a4329;
  }
}

/* TESTING - CG Branding */
:root {
  /* --tblr-primary: #ffed00; */
  /* --tblr-primary-fg: var(--tblr-dark); */
  
  /* --tblr-primary: #20234c; */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  /* color: inherit; */
}